body{
	font-size: 16px;
	color: #fff;
	background-color: #0E0E2E;
	font-family: oxygen;
}

#header-nav {
	background-color: rgb(240, 108, 20);
	border-radius:0;
	border: 0;
}

#logo-img {
	background: url('../images/finalfinal.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 5px 10px 2px -20px;
}
.navbar-brand h1 {
	color: #0E0E2E;
	font-family: 'Lora',serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p {
	color: #0E0E2E;
	text-align: center;
	font-weight: initial;
	margin-top: 15px;
	font-size: .9em;
	vertical-align: middle;
}


