body{
	font-size: 16px;
	color: #fff;
	background-color: #0E0E2E;
	font-family: oxygen;
}

#header-nav {
	background-color: rgb(240, 108, 20);
	border-radius:0;
	border: 0;
}

#logo-img {
	background: url('../images/finalfinal.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 5px 10px 2px -20px;
}
.navbar-brand h1 {
	color: #0E0E2E;
	font-family: 'Lora',serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p {
	color: #0E0E2E;
	text-align: center;
	font-weight: initial;
	margin-top: 15px;
	font-size: .9em;
	vertical-align: middle;
}

#nav-list{
	margin-top: 10px;
}
#nav-list a{
   color: #0E0E2E;
   text-align: center;
}

#nav-list a:hover{
	background: #E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #0E0E2E;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
/* footer */
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	background-color: #222;
	border-top: 0;
	padding-bottom: 30px;

}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours, #address{
	line-height: 1.2;
}
#hours > span, #address > span{
	font-size: 1.3em;
}
#address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1;
}
#testimonials{
	font-style: italic;

}
#testimonials p:nth-child(2){
	margin-top: 10px;
}

/* Home page */
.container .jumbotron{
	margin-top: 30px;
	padding: 0;
	
}
#menu-title,#Special-title ,#map-title{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
}
#menu-title:hover,#Special-title:hover ,#map-title:hover{
    box-shadow: 0 1px 5px #cccccc;
}
#menu-title{
	background: url('../images/mymenuu.jpg');
	background-position: center;

}
#Special-title{
	background: url('../images/myspecial.jpg');
	background-position: center;
}
#menu-title span,#Special-title span ,#map-title span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
@media (min-width: 1200px){
	.container .jumbotron{
		background: url('../images/im1200.jpg') no-repeat;
		height: 675px;
		/*box-shadow: 0 0 50px black;*/
		border: 1px solid black;
	}


}
@media (min-width: 992px) and (max-width: 1199px){
	#logo-img {
		background: url('../images/mediumlogo.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0px;
	}
	.container .jumbotron{
		background: url('../images/im992.jpg') no-repeat;
		height: 558px;
		/*box-shadow: 0 0 50px black;*/
		/*border: 1px solid black;*/
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.container .jumbotron{
		background: url('../images/im768.jpg') no-repeat;
		height: 432px;
		/*box-shadow: 0 0 50px black;*/
		/*border: 1px solid black;*/
	}

}
@media (max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p{
		font-size: .6em;
		margin-top: 12px;
	}
	#collapsable-nav a {
		font-size: 1.2em;
	}
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	.container .jumbotron{
	margin-top: 30px;
	padding: 0;

     }
     #menu-title, #Special-title,#map-title{
		width:360px;
		margin: 0 auto 15px;
	}
	/* footer */
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}
	.panel-footer section hr{
		width: 50%;
	}
	/* end footer */


	
}
@media (max-width: 479px){
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 6vw;
	}
	#menu-title, #Special-title{
		width:280px;
		margin: 0 auto 15px;
	}

}